* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}

body {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-page {
    border: 2px solid;
    border-color: rgb(14, 13, 13);
    border-radius: 20px;
    width: 600px;
    background-color: white;
    padding: 20px 50px;
}

h1 {
    color: rgb(207, 108, 33);
    padding: 20px;
    margin-left: 100px;
}


label {
    font-size: larger;
    color: black;
    padding: 10px;
}

.place-order {
    height: 40px;
    width: 300px;
    background-color: blue;
    color: bisque;
    transition: background 0.5s ease-in-out;
    border-radius: 10px;
    margin-left: 100px;
}

.place-order:hover {
    background-color: aquamarine;
    color: black;
    transform: translateY(-5px);
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-in;
}

a:hover {
    color: rgb(206, 27, 30);
    transform: translateY(-5px);
}